#sidebar {
  background: rgba(17, 26, 35, 0.45);
}

#main {
  min-height: calc(100% - 15px);
}

.postShorten-group, #categories-archives, #tags-archives {
  min-height: calc(100vh - 155px);
}

.postShorten .postShorten-content, .postShorten .postShorten-excerpt {
  font-family: "Open Sans",sans-serif;
}

dl, ol, ul {
  margin: .5em 0 .5em 0;
}

.post .post-content {
  font-family: "Open Sans",sans-serif;
}

strong {
  font-weight: bolder;
}